{% extends "home/index.html" %}
{% load static %}

{% block mochilas_viajeras_title %}
Destino detail
{% endblock %}
Join Zoom Meeting
https://us02web.zoom.us/j/82738850958?pwd=ZUhXaDNiR3ZJVWVUZ1JMdGdZMHBmUT09

Meeting ID: 827 3885 0958
Passcode: 501008
One tap mobile
+12532050468,,82738850958#,,,,*501008# US
+12532158782,,82738850958#,,,,*501008# US (Tacoma)

Dial by your location
        +1 253 205 0468 US
        +1 253 215 8782 US (Tacoma)
        +1 301 715 8592 US (Washington DC)
        +1 305 224 1968 US
        +1 309 205 3325 US
        +1 312 626 6799 US (Chicago)
        +1 346 248 7799 US (Houston)
        +1 360 209 5623 US
        +1 386 347 5053 US
        +1 408 638 0968 US (San Jose)
        +1 507 473 4847 US
        +1 564 217 2000 US
        +1 646 876 9923 US (New York)
        +1 646 931 3860 US
        +1 669 444 9171 US
        +1 669 900 6833 US (San Jose)
        +1 689 278 1000 US
        +1 719 359 4580 US
Meeting ID: 827 3885 0958
Passcode: 501008
Find your local number: https://us02web.zoom.us/u/kdTPIxluQK




{% block mochilas_viajeras_content %}

</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="{% static 'home/assets/favicon.ico' %}" />
<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="{% static 'home/css/styles.css'%}" rel="stylesheet" />
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home:index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
           
                <li class="nav-item"><a class="nav-link" href="{% url 'my_app:destino-list' %}">Viajes</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accommodation:accommodation-list' %}">Hospedajes</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'forum:forum-list' %}">Foro</a></li>
         

                <div class="topbar-divider d-none d-sm-block"></div>

                {% if user.is_authenticated %}
                <li class="nav-item"><a class="navbar-brand" href="{% url 'home:user-update' %}">Editar usuario</a></li>
                <li class="nav-item"><a class="navbar-brand" href="{% url 'logout' %}">Cerrar Sesión - {{ user.username }}</a></li>
                {% else %}
                <li class="nav-item"><a class="navbar-brand" href="{% url 'login' %}">Iniciar Sesión</a></li>
                {% endif %}                        
                
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">¡Sumate a nuestros viajes!</div>
        <div class="masthead-heading text-uppercase">Mochilas Viajeras</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'my_app:destino-add' %}">Viajes 2022-2023</a>
    </div>
</header>

<!-- Post preview-->
<div class="post-preview">
    <h3 class="post-subtitle">Destino: {{ destino.name }}</h3>
    
    <p class="post-meta">
        Creado por
        <a href="#!">Start Bootstrap</a> 
    </p>
    <p class="card-text ">{{ destino.description|safe }}</p> <!-- ckeditor-->
    <p style="text-align: center">
        <a href="{% url 'my_app:destino-update' destino.id %}">
            <i class="fa fa-pencil" style="color: #1c1c91;"></i> Editar
        </a>
        &ensp; | &ensp;
        <a href="{% url 'my_app:destino-delete' destino.id %}">
            <i class="fa fa-trash" style="color: #881a1a;"></i> Eliminar 
        </a>
    </p>
</div>

{% endblock %}